<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><strong>CANCHITAS</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <!-- routerLinkActive es para adicionar a la clase , la clase active -->
      <li class="nav-item" routerLinkActive = "active">
            <a class="nav-link" [routerLink]="['/']">MAIN <span class="sr-only">(current)</span></a>
          </li>
      <li class="nav-item" routerLinkActive = "active">
        <!--  la diferencia entre usar href y router link es al momento de escribir y darle parametros
        ['http', DATO] o en href /http/dato -->
        <a class="nav-link" [routerLink]="['/http']" >HTTP <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive = "active">
          <!--  la diferencia entre usar href y router link es al momento de escribir y darle parametros
          ['http', DATO] o en href /http/dato -->
          <a class="nav-link" [routerLink]="['/forms']" >FORMS <span class="sr-only">(current)</span></a>
        </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="[ '/pipes' ]">Pipes</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="[ '/firebase' ]">FireBase</a>
      </li>
      
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input name="termino" 
             
             class="form-control mr-sm-2" 
             type="search" placeholder="Search" 
             aria-label="Search" 
             (keyup.enter)="buscar()" 
             [(ngModel)]="termino"
             >
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="buscar()">Search</button>
    </form>
  </div>
</nav>
